@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&display=swap');

/* 
    Guidelines: 
    -Don't stylize HTLM tags directly, instead use classes or ids in replace or before the tags.
    e.g.: 
    
    .mySection .myDiv p{
        'some style'
    }
    
    -Don't touch the global selector *{}

    -Use your own media-querys
*/

/* Main info styles */
.main-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-bottom: 5vh;
}

.user-info {
    color: #023047;
    max-width: 340px;
    margin-top: 5vh;
}

.user-info-title {
    font-family: 'Lato', sans-serif;
}

.user-info-description {
    margin: 1.5em 0 2em;
    font-family: 'Poppins', sans-serif;
}

.user-info-more {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    height: 35px;
    background: linear-gradient(rgba(33, 158, 188, 0) 25%, rgba(2, 48, 71, 1)100%);
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
}

.user-info-list {
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    display: none;
    list-style-type: "\002A";
    margin-top: 2em;
    padding: 1em 1em 1em;
    /* list-style: none; */
}

.user-info-list-item {
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 0;
}

.user-info-less {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #023047;
    padding: 0.5em 0;
}

.user-info-show {
    display: block;
}

.user-info-hide {
    display: none;
}

/* Form styles */
.user-outer {
    width: 100%;
    color: #023047;
    max-width: 340px;
}

.user-outer-text {
    margin: 2em 0 1em;
    font-family: 'Poppins', sans-serif;
}

.user-container {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #FB8500;
    background-color: #FB8500;
    border-radius: 8px;
}

.user-collector {
    margin: 1em 1em;
}

/* Separation for each input division */
.user-collector div {
    padding-bottom: 1em;
}

/* Width for labels */
.user-collector label {
    display: inline-block;
    width: 5.5em;
}

.user-collector input {
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    color: #023047;
    padding: 0.2em 0.3em;
}

.user-collector input:hover {
    border: 1px solid #8ECAE6;
}

.user-collector input:focus-within {
    background-color: #8ECAE6;
    border: 1px solid #023047;
}

.user-name-input,
.user-email-input {
    width: 192px;
}

.user-age-input {
    width: 30px;
}

/*User phone styles*/
.user-phone {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.user-phone-input {
    align-self: center;
    width: 120px;
}

.user-phone-select {
    align-self: center;
    color: #023047;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 18px;
}

.user-phone-select:focus-within {
    background-color: #8ECAE6;
}

.user-phone-select option {
    background-color: #219EBC;
}

.user-phone-country {
    align-self: center;
    border-radius: 3px;
    width: 25px;
}

/* Button style */
.user-button {
    background-color: #023047;
    border-radius: 3px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.input-error {
    color: red;
    font-size: 0.8em;
    padding-top: 0.3em;
}

/* Timer styles */
.timer-container {
    display: none;
    color: #023047;
    max-width: 340px;
    margin-top: 5vh;
}

/* Timer header */
.timer-info-header {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    margin-bottom: 0.3em;
}

.timer-info-description {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2em;
}

.timer-info-text {
    margin: 1em 0;
    font-family: 'Roboto', sans-serif;
}

/* Timer section */
.timer-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FB8500;
    border: 1px solid #FB8500;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
}

.timer-data-header {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em 0;
}

.timer-data-value {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

#timer-data-text {
    margin-top: 0.5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Undefined course styles*/
.course-undefined {
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: center;
    align-content: center;
}

.course-undefined-info {
    max-width: 576px;
    background-color: #FB8500;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #023047;
    text-align: center;
    padding: 2em;
    margin: 0 0.6em;
}

.course-undefined-title {
    font-family: 'Lato', sans-serif;
    margin-bottom: 1em;
}

.course-undefined-link {
    background-color: #023047;
    border-radius: 8px;
    padding: 0.8em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Media queries */
@media screen and (min-width:576px) {
    .user-info {
        max-width: 576px;
        font-size: 1.1rem;
    }

    .user-outer {
        max-width: 364px;
        font-size: 1.1rem;
    }

    .user-outer-text {
        text-align: center;
    }

    .user-collector {
        margin: 1.2em 1.2em;
    }

    .user-collector label {
        width: 6em;
    }

    .timer-container {
        max-width: 364px;
        font-size: 1.1rem;
    }
}

@media screen and (min-width:768px) {
    .main-container {
        justify-content: space-around;
    }

    .user-info {
        max-width: 364px;
        font-size: 1.2rem;
    }

    .user-info-more {
        display: none;
    }

    .user-info-list {
        display: block;
    }

    .user-info-less {
        display: none;
    }

    .user-outer {
        margin-top: 5vh;
        max-width: 364px;
        font-size: 1.2rem;
    }

    .timer-container {
        margin-top: 5vh;
        max-width: 364px;
        font-size: 1.2rem;
    }

    .course-undefined-info {
        max-width: none;
    }
}

@media screen and (min-width:992px) {
    .user-info {
        max-width: 384px;
        font-size: 1.3rem;
    }

    .user-outer {
        max-width: 374px;
        font-size: 1.3rem;
    }

    .timer-container {
        max-width: 400px;
        font-size: 1.3rem;
    }
}

@media screen and (min-width:1200px) {
    .main-container {
        justify-content: space-between;
    }
}