/* 
    Guidelines: 
    -Don't stylize HTLM tags directly, instead use classes or ids in replace or before the tags.
    e.g.: 
    
    .mySection .myDiv p{
        'some style'
    }
    
    -Don't touch the global selector *{}

    -Use your own media-querys
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}